# Dependências
node_modules/
.pnpm-store/
.yarn/
.pnp.*
yarn.lock
package-lock.json

# Build e Compilação
/dist
/build
*.tsbuildinfo
tsconfig.tsbuildinfo
*.js.map
*.d.ts.map

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Testes
/coverage
/.nyc_output
/test-results
/.jest-cache
*.lcov

# Ambiente
.env
.env.*
.env.local
.env.*.local
.env.development.local
.env.test.local
.env.production.local
!.env.example

# Banco de Dados
*.sqlite
*.sqlite3
*.db
/data
/database/*.sqlite
ormconfig.json

# Sistema Operacional
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
# Linux
*~
.directory

# IDEs e Editores
# Configurações do Editor
.editorconfig
.prettierrc

# VSCode
.vscode/
*.code-workspace

# JetBrains
.idea/
*.iml
*.ipr
*.iws
out/

# Sublime Text
*.sublime-project
*.sublime-workspace

# Outros editores
.project
.classpath
.c9/
*.launch
.settings/
*.swp
*.swo

# Temporários
.temp/
.tmp/
*.tmp

# Runtime
pids/
*.pid
*.seed
*.pid.lock

# Git Hooks
.husky/

# Debug e Performance
.vscode-test/
.chrome/
*.cpuprofile
*.heapprofile
*.heapsnapshot

# Relatórios de diagnóstico
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
